;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [[binaryage/devtools "1.0.6"]
  [nrepl/nrepl "1.0.0"]
  [cider/cider-nrepl "0.28.5"]
  [reagent "1.1.1"]]

 :dev-http {8080 "public"}
 :builds
 {:test
  {:target :karma
   :output-to "out/test.js"
   :ns-regexp "-test$"
   :autorun true}
  :app
  {:target :browser
   :modules {:main {:init-fn djb.set.core/init}}}}}
