.card {
  /* ratio of playing card is 5:7, or 2.5" x 3.5" */
  width: 150px;
  height: 210px;
  border: 1px solid black;
  border-radius: 7px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.cards {
  display: grid;
  justify-content: start;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 160px);
}
