html {
  font-family: sans-serif
}

.card {
  /* ratio of playing card is 5:7, or 2.5" x 3.5" */
  width: 150px;
  height: 210px;
  border: 1px solid black;
  border-radius: 7px;

  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;
}

.cards {
  display: grid;
  justify-content: start;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 160px);
}

.sets.cards {
  grid-template-columns: repeat(2, 177px);
  padding: 0px;
}

.sets .card {
  margin-top: 6px;
}

.cards {
  padding: 0px;
}

.card.selected {
  box-shadow: 10px 10px;
}

.set {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.hand .card,
.sets .card,
.card-space {
  width: 50px;
  height: 70px;
  list-style-type: none;
}

.card {
  box-shadow: 2px 2px 2px #e6e6e6
}

.card svg {
  width:100%;
  height: 33%;
}

#svg-defs {
  position: absolute;
  height: 0;
  width: 0;
}

.grid {
  display: grid;
  grid-template-columns: 0.5fr 4fr; /* Adjust the ratio as needed */
  grid-gap: 20px; /* Adjust the gap between columns as needed */
}

.grid .left {
  border-right: 1px solid #e1e1e1;
}
